@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Trykker", serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    margin: 0 20%;
    background-color: white;
}
.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
    transition: transform 0.3s;
}
.navbar a:hover, .exit:hover {
    color: #007bff;
    transform: translateY(-2px);
}

.title {
    padding: 3% 0;
    margin: 0 20%;
    font-size: 1.5rem;

    text-align: center;
    text-indent: 2em;
    line-height: 1.5;
}

.text {
    margin: 0 20%;
    font-size: 1.2rem;

    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
}

h1 {
    color: #007bff;
    font-size: 4em;
    margin: 0 6%;

    animation: fadeInRight 0.5s ease-out forwards;
}
#home h2 {
    font-size: 3em;
    margin: 0 6%;

    opacity: 0;
    animation: fadeInLeft 0.5s ease-out 0.1s forwards;
}
.info {
    padding-bottom: 4vh;

    opacity: 0;
    animation: fadeInUp 0.5s ease-out 0.2s forwards;
}

/* Title div styling */
#title {
    flex: 1; /* Takes up half the space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: flex-start; /* Horizontally centers the content */
    padding: 10% 20px;
    box-sizing: border-box; /* Ensures padding doesn't affect layout */

    /*font-family: 'Fugaz One' !important;*/
    font-family: "Poppins", serif !important;
    font-weight: 900;
}

#home p {
    text-indent: 0 !important;
}

.heading {
    /*font-family: 'Fugaz One' !important;*/
    font-family: "Poppins", serif !important;
    padding: 6vh 0 !important;
}

.watermark {
    margin-top: 8vh;

    text-align: center;
    font-weight: 200;
    color: #6c757d;
}


/* General styling for the list */
.link-list {
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Removes default padding */
    margin: 0 auto; /* Centers the list */
    display: grid; /* Enables grid layout */
    grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
    gap: 20px; /* Adds space between grid items */
    width: 100%; /* Ensures full-width layout */

    opacity: 0;
    animation: fadeIn 0.5s ease-out 0.5s forwards;
}

.exit {
    font-family: "Trykker", serif;

    display: none;

    margin: 0;
    cursor: pointer;

    border-style: none;
    background-color: transparent;

    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    animation: fadeIn 0.5s ease-out 0.5s forwards;

    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 1rem;
    transition: color 0.3s;
    transition: transform 0.3s;
}

/* Styling for individual list items */
.link-list li {
    margin: 0; /* No additional margin for list items */
}

/* Styling for the links */
.link-list a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color for better readability */
}

/* Styling for the card */
.card {
    display: flex;
    flex-direction: column;
    text-indent: 0 !important;
    text-align: start !important;
    padding: 20px; /* Adds padding inside the card */
    border: 1px solid #ddd; /* Adds a border around the card */
    border-radius: 8px; /* Rounds the corners of the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    background-color: #fff; /* Ensures a white background */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
}

/* Styling for the card hover effect */
.card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

/* Styling for the card title */
.card h3 {
    font-size: 1.2rem; /* Adjust title size */
    margin: 0 0 10px; /* Space below the title */
    color: #007bff; /* Link color */
}

/* Styling for the description */
.card .description {
    font-size: 0.9rem; /* Slightly smaller text for the description */
    color: #6c757d; /* Gray text for description */
    margin-top: 10px; /* Space above description */
    margin-bottom: 2px;
}


.hljs {
    color: #24292e;
    background: #f6f6f6 !important;

    text-indent: 0 !important;
}



@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
